#wall .tag-1 {display: none; }
  
body #wall #tag-2 {display: none;}
body div#wall #tag-3.slick {display: none;}
#wall .parent #tag-4 {display: none;}
body div#wall .parent #tag-5.slick {display: none;}
/*ohhhhyess*/
/*i hope this works fr*/
/*pleaseeeeeee*/
/*ohhhh please*/
/*how many more lines*/
/*no more lines*/
/*please stop*/
/*no more lines*/
/*no more lines*/
/*no more lines*/
/*no more lines*/
/*no more lines*/